
.color-primary-0 { color: #328A2E }	/* Main Primary color */
.color-primary-1 { color: #C3E6C1 }
.color-primary-2 { color: #5AAC56 }
.color-primary-3 { color: #156711 }
.color-primary-4 { color: #034500 }


section:target {
    background-color: 	#E6F2E5;
}

.c1b {
    background-color: #328A2E;
}

.c1f {
    color:  #C3E6C1;
}

.c2b{
    background-color: #C3E6C1;
}

.c3b {
    background-color: #C3E6C1;
}



.c2f , .c2f a, .c2f i  {
    color: #156711;
}


.c3f {
    color: #034500; 
}

.c3f h1, .c3f h2, a {
    color: #156711;
}


footer {
    text-align: center;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


nav a {
    text-decoration: none;
    color: #034500;
}
