body {
  background-image: url(../img/bg.png);
  margin: 15px;
}

@font-face {
font-family: "Niconne";
src: url("../niconne/Niconne-Regular.ttf");
}

.c1f {
  padding: 0 15px 0 15px;
  height: 60px;
}

.c1f {
font-size: 40px;
font-weight: bold;
font-family: Niconne;
}

.c2b {
  height: 30px;
  padding: 2px 0;
}

.c2b {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 30px;
  border-bottom: transparent;
}

nav a {
  margin: 0 5px 0 5px;
}

.c3f h1 {
  padding: 0 0 10px 15px;
  border-bottom: 2px solid #156711;
}

.active:hover {
  cursor: pointer;
  border-bottom: 4px solid #A95486;
}

.active a:first-child {
  background-color: #E6F2E5;
}

.active td {
  padding: 5px;
  vertical-align: top;
}

h1 {
  margin: 0px;
  padding: 0 15px 0 15px;
}

main {
  margin: 10px 0px 0px 0px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 5px 0 10px;
}

/*td:first-child {
  width: 15%;
  min-width: 100px;
  vertical-align: top;
}*/

li > a {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
}

/.meniu-secundar, li {
  padding: 4px 0 4px 0;
  list-style-type: none;

}

li > a::before {
  text-decoration: none;
  content: "\00BB"
  vertical-align: text-top;
}

.c3f a:hover {
  border-bottom: 1px;
  color: #156711;
}

section {
  border-radius: 5px;
  padding: 2px;
}

.c3b  {
  border-top: 1px solid #156711;
  border-bottom: 1px solid #156711;
}

.dr {
  vertical-align: top;
  margin: 0 0 435px 0;
  width: 185px;
  height: 185px;
}

.prim td {
  width: 10% 90%;
}




/*PRODUSE*/

.produs, td:first-child {
  vertical-align: middle;
}

.produs img {
  border-radius: 50px;
}

.produs div {
  margin-left: 15px;
  padding: 2px;
}




/*COMENZI*/

.comenzi {
  /*border-top: 10px solid transparent;*/
  border-bottom: 10px solid transparent;
}

#s1 #S2, h2, p {
  margin-left: 15px;
  padding: 2px;
}
