body {
  background-image: url(../img/bg.png);
  margin: 15px;
}

@font-face {
font-family: "Niconne";
src: url("../niconne/Niconne-Regular.ttf");
}

.c1f {
  padding: 0 15px 0 15px;
  height: 60px;
}

.c1f {
font-size: 40px;
font-weight: bold;
font-family: Niconne;
padding: 5px 10px 5px 10px;
}

.c2b {
  height: 30px;
  padding: 2px 0;
}

.c2b {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 30px;
  border-bottom: transparent;
}

nav a {
  margin: 0 5px 0 5px;
}

.active:hover {
  cursor: pointer;
  border-bottom: 4px solid #A95486;
}

/*a:active {
  cursor: default;
  background-color: transparent;
}*/

.active:first-child {
  background-color: #E6F2E5;
}

td {
padding: 5px;
vertical-align: top;
}

main {
  margin: 2px 10px 0px 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

td {
  padding: 5px;
  vertical-align: top;
}

td:first-child {
  width: 15%;
  text-align: center;
  min-width: 100px;
}

li > a {
  padding-left: 0;
  font: 16px;
  font-weight: 600;
  font-family: sans-serif;
  text-decoration: none;
}

.meniu-secundar, li {
  padding: 4px 0 4px 0;
  list-style-type: none;
}

li > a::before {
  text-decoration: none;
  content: "\00BB"

}

.c3f a:hover {
  border-bottom: 1px;
  color: #156711;
}
