body {
  background-image: url(../img/bg.png);
  margin: 15px;
}

@font-face {
font-family: "Niconne";
src: url("../niconne/Niconne-Regular.ttf");
}

.c1f {
  padding: 0 15px 0 15px;
  height: 60px;
}

.c1f {
font-size: 40px;
font-weight: bold;
font-family: Niconne;
padding: 5px 10px 5px 10px;
}

.c2b {
  height: 30px;
  padding: 2px 0;
}

.c2b {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 30px;
}



nav a {
  margin: 0 5px 0 5px;
}

.active a:hover {
    cursor: pointer;
    color: #A95486;
    border-bottom: 4px;
  }

  .active {
    background-color: #E6F2E5;

  /*.c2b {
    padding: 2px;
    background-color: 4px transparent;

  }*/
