table {
  border-collapse: collapse;
}

td {
  padding: 4px;
}


thead th, td {
  border: solid thin #ebc600;
}

tbody tr, td {
  border: solid thin #ebc600;
}

tfoot, td {
  border: solid thin #ebc600;
}
