/*div {
  border-width: 4px 4px 4px 4px;
  border-style: double;
  border-color: blue;
  border-width: 4px 4px 4px 4px;
  width: 100px;
  height: 100px;
}*/

div {
  border-width: 4px 8px 4px 8px;
  border-style: double;
  border-left-color: blue;
  border-right-color: red;
  width: 100px;
  height: 100px;
}
