div {
  border: 10px solid black;
  border-image: url(../img/contur1.png);
  border-image-repeat: repeat;
  border-image-slice: 15;
  border-width: 30px 30px 30px 30px;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 200px;
}
