/*p:first-child {
  margin: 0;
  border-radius: 10px 0 0 0;
  padding: 10px 20px;
  background-color: yellow;
  border: 3px solid skyblue;
  width: 165px;
  background-image: url(../img/bgnd1.png);
  background-size: 10%;
  background-repeat: repeat-y;
  background-position: right;
}*/

.produs {
  margin: 0px;
  border-radius: 10px;
  background-color: gold;
  padding: 15px 0 0 0;
  width: 225px;
  height: 275px;
  text-align: center;
}

.produs p {
  text-align: center;
  font-family: Arial;
}

p:nth-child(3) {
  color: green;
}

span {
  color: magenta;
}

.pret {
  color: #2e05f6;
}

.produs button {
  margin: 0px;
  border: 2px solid green;
  border-left: 2px solid #21d24d;
  border-top: 2px solid #21d24d;
  border-bottom: 2px solid #024d17;
  border-right: 2px solid #024d17;
  border-radius: 20px;
  background-color: green;
  width: 100px;
  height: 30px;
  background-image: url(../img/shopping.png);
  padding: 2px 30px 2px 3px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
}
