/* Salvati acest continut cu numele monocromatic.html.
Folosind site-ul http://paletton.com/ creati o selectie
monocromatica pentru acest continut urmarind pasii prezentati in manual. */


/*
Main Primary color
.color-primary-0 { color: #AA7D39 }
.color-primary-1 { color: #352000 }
.color-primary-2 { color: #6F470C }
.color-primary-3 { color: #E5BC80 }
.color-primary-4 { color: #FFE9C9 }
*/

body {
  background-color: #FFE9C9;
}


#meniu-pricipal, footer {
  text-align: center;
}


#meniu-pricipal a, #meniu-secundar a {
  text-decoration: none;
}


header {
  font: bold 40px "Verdana";
  text-indent: 20px;
  line-height: 50px;
}


article, footer {
  font: 15px "Verdana";
}


nav {
  font-family: "Verdana";
  font-size: 15px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}


nav a:not(:first-child)::before {
  content: " | ";
}


nav a::after {
  content: " ";
}


.ch {
  background-color: #352000;
  color: #AA7D39;
}


nav {
  background-color: #E5BC80;
}


nav a {
  color: #352000;
  text-decoration: none;
}


nav a:hover {
  background-color: #352000;
  color: #E5BC80;
}


article .ca, h1 {
  color: #352000;
}


.ca a {
  color: #AA7D39;
}



.ca, p {
  color: #352000;
}

.cf {
  background-color: #AA7D39;
  color: #E5BC80;
}
