@font-face {
  font-family: "ChunkFive";
  src: url("./ChunkFive/Chunkfive.otf");
}

@font-face {
font-family: "Arizonia";
src: url("./arizonia/Arizonia-Regular.ttf");
}

/* Header */

.logo {
  font-size: 40px;
  font-family: "Chunkfive";
}


.orange {
  color: orange;
  text-transform: uppercase;
}


.blue{
  color: blue;
  text-transform: uppercase;
}



/* Stilizare si referinte meniu principal */


nav {
  text-align: center;
  word-spacing: 15px;
}


nav a {
  font-weight: bold;
  font-size: 30px;
  font-family: Arizonia;
  color: darkgreen;
}


nav a:hover {
  color: crimson;
  cursor: pointer;
}


  a:not(:nth-child(1))::before {
  content: " | ";
  color: darkgreen;
  font-family: Arial;
}


nav a:first-child:visited {
  color: orange;
  cursor: pointer;
}


nav a:active {
  color: orange;
}


/* Stilizare container aside */


aside, ul {
  list-style-type: none;
  font-family: Arial;
  font-weight: bold;
}


main a {
  text-decoration: none;
}


h1 {
  color: indigo;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}


aside li::after {
  color: indigo;
  content: " \00BB";
}


li :hover {
  color: crimson;
}


:target {
  background-color: lavender;
}


.ti {
  text-indent: 30px;
}


.lh {
  line-height: 30px;
}


.over {
  text-decoration: overline;
  color: red;
}


section > .roman {
  list-style-type: lower-roman;
}


section > .greek {
  list-style: lower-greek;
}


section .greek, .roman {
  color: blueviolet;
}


footer {
  text-align:center;
  color: indigo;
}
