@font-face {
  font-family: "ChunkFive", "Arizonia";
  src: url("./ChunkFive/Chunkfive.otf")
  src: url("./Arizonia/Arizonia-Regular.ttf")
}

.logo {
  font-size: 40px;
  font-family: Chunkfive;
}
.orange {
  color: orange;
  text-transform: uppercase;
}
.blue{
  color: blue;
  text-transform: uppercase;
}

nav {
  text-align: center;
  word-spacing: 15px;
}

nav a {
  font-weight: bold;
  font-size: 30px;
  font-family: Arizonia;
  color: darkgreen;
}

nav a:first-child {
  color: orange;
}

nav :hover {
  color: crimson;
  cursor: pointer;
}

nav a:not(:nth-child(4))::after {
  content: " |";
  color: darkgreen;
  font-family: Arial;
}

aside, li {
  list-style-type: none;
}

main a {
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
}


h1 {
  color: indigo;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

aside li::after {
  content: " \00BB"
}

li :hover {
  color: crimson;

}

#s1:target {
  background-color: lavender;
}

#s2:target {
  background-color: lavender;
}

.ti {
  text-indent: 30px;
}

.lh {
  line-height: 30px;
}

.over {
  text-decoration: overline;
  color: red;
}

article.roman {
  list-style-type: lower-roman;
}

* > .greek {
  list-style: lower-greek;
} */=






footer {
  text-align:center;
  color: indigo
}
