/* TODO: Add font-face pentru great wibes */


@font-face {
<<<<<<< Updated upstream
  font-family: BEBASNEUE;
  src: url("./font/BEBASNEUE BOLD.TTF")
}

meniu-secundar, article {
  line-height: 20px;
  font-family: Verdana;
  color: #352000;
=======
  font-family: "Great Vibes";
  src: url("./font/GreatVibes-Regular.otf");
>>>>>>> Stashed changes
}


body {
<<<<<<< Updated upstream
  background-color: #FFE9C9;
=======
  background-color: #ffe4b3;
}

meniu-secundar, article {
  color: #9B6500;
>>>>>>> Stashed changes
}


.meniu-secundar  a {
<<<<<<< Updated upstream
    text-decoration: none;
    font: bold 18px sans-serif;
    color: #352000;
=======
  color: #FFB939;
>>>>>>> Stashed changes
}


p [href="#"] {
<<<<<<< Updated upstream
  color: #AA3939;
=======
  color: #C68000;
>>>>>>> Stashed changes
}


.c1b {
<<<<<<< Updated upstream
  background-color: #352000;
  color: #AA7D39;
=======
  background-color: #C68000;
>>>>>>> Stashed changes
}


nav {
<<<<<<< Updated upstream
  background-color: #E5BC80;
=======
  background-color: #FFC864;
>>>>>>> Stashed changes
}


nav a {
<<<<<<< Updated upstream
  color: #AA7D39;
=======
  color: #9B6500;
>>>>>>> Stashed changes
  text-decoration: none;
}


nav a:hover {
<<<<<<< Updated upstream
  color: #352000;
}


aside .c3f, ul {
  color: #352000;
=======
  color: #FFA500;
>>>>>>> Stashed changes
}


nav a[href="#"] {
<<<<<<< Updated upstream
  color: #AA3939;
=======
  color: #9B6500;
>>>>>>> Stashed changes
}


li :hover {
<<<<<<< Updated upstream
  color: #E5BC80;
=======
  color: #FFA500;
>>>>>>> Stashed changes
}

/* footer */
.c3b {
<<<<<<< Updated upstream
    letter-spacing: 5px;
    font: 17px Bebasneue;
    text-align: center;
    background-color: #E5BC80;
=======
    color: #9B6500;
    background-color: #FFA500;
>>>>>>> Stashed changes
}
