/* TODO: Add font-face pentru great wibes */


@font-face {
<<<<<<< Updated upstream
  font-family: BEBASNEUE;
  src: url("./font/BEBASNEUE BOLD.TTF")
}

meniu-secundar, article {
  line-height: 20px;
  font-family: Verdana;
  color: #567714;
=======
  font-family: "Great Vibes";
  src: url("./font/GreatVibes-Regular.otf");
>>>>>>> Stashed changes
}


body {
<<<<<<< Updated upstream
  background-color: #FFE9C9;
}


header {
  text-indent: 20px;
  line-height: 50px;
}


header, img {
  vertical-align: middle;
}


nav, footer {
    text-align: center;
    word-spacing: 5px;
    font: bold 20px Bebasneue;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    letter-spacing: 5px;
}


nav a::after {
    font: 20px 'sans-serif';
    text-align: center;
    content: "\00A0";
}


.meniu-secundar {
    list-style-type: none;
}

.meniu-secundar  a {
    text-decoration: none;
    font: bold 18px sans-serif;
    color: #801515;
}

.meniu-secundar a::after {
    content: " \00BB";
=======
  background-color: #ffd4b3;
}


meniu-secundar, article {
  color: #567714;
}


.meniu-secundar  a {
  color: #801515;
>>>>>>> Stashed changes
}


p [href="#"] {
<<<<<<< Updated upstream
  color: #801515;
=======
  color: #FFA500;
>>>>>>> Stashed changes
}


.c1b {
  background-color: #669999;
}


nav {
  background-color: #A5C663;
}


nav a {
  color: #567714;
  text-decoration: none;
}


nav a:hover {
<<<<<<< Updated upstream
  /*background-color: #352000;*/
=======
>>>>>>> Stashed changes
  color: #D46A6A;
}


nav a[href="#"] {
  color: #352000;
}


li :hover {
  color: #D46A6A;
}

/* footer */
.c3b {
<<<<<<< Updated upstream
    letter-spacing: 5px;
    color: #567714;
    font: 17px Bebasneue;
    text-align: center;
=======
    color: #567714;
>>>>>>> Stashed changes
    background-color: #A5C663;
}
